<div class="about">
    <h2>About Student Details</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam
        mauris non ligula commodo, vel vulputate elit fermentum. Integer sit amet
        dapibus sapien, at cursus dolor. Nulla facilisi. Sed eu ipsum at elit
        fermentum dapibus vel ac nisi. Sed tristique massa id gravida laoreet.
    </p>
  
    <h3>Our Students</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam
        mauris non ligula commodo, vel vulputate elit fermentum. Integer sit amet
        dapibus sapien, at cursus dolor. Nulla facilisi. Sed eu ipsum at elit
        fermentum dapibus vel ac nisi. Sed tristique massa id gravida laoreet.
    </p>
  
    <h3>Our Team</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam
        mauris non ligula commodo, vel vulputate elit fermentum. Integer sit amet
        dapibus sapien, at cursus dolor. Nulla facilisi. Sed eu ipsum at elit
        fermentum dapibus vel ac nisi. Sed tristique massa id gravida laoreet.
    </p>
  </div>
  