<div class="contact">
    <h2>Contact Us</h2>
    <h3>Email</h3>
    <p>Email: <a href="mailto:Student@gmail.com">Student@gmail.com</a></p>
    <h3>Phone</h3>
    <p>Phone: +91 9999999999</p>
  
    <h3>Location :</h3>
      <address>
        Main Street,<br>
        vadakara, Kozhikode, 673308
      </address>
    <div class="contact__main">
            
    <h3>Contact Form</h3>
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
  
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
  
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
  
      <button type="submit">Send Message</button>
    </form>
    </div>
  </div>
  