<div class="homepage">
    <h2>Welcome to Student Details</h2>
    <div class="homepage__cont1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam
            mauris non ligula commodo, vel vulputate elit fermentum. Integer sit amet
            dapibus sapien, at cursus dolor. Nulla facilisi. Sed eu ipsum at elit
            fermentum dapibus vel ac nisi. Sed tristique massa id gravida laoreet.
          </p>
          <img src="../../assets/images/student.jpg" alt="student">
    </div>
</div>